<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>inscription</title>
<link rel="stylesheet" href="../static/css/style.css" media="screen" type="text/css" th:href="@{/css/style.css}"/>

 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

<table class="table table-stribed">
		<tr th:each="o:${list.article}">
		<td th:text="${o.titre}"></td>
		<td th:text="${o.resume}"></td>
		
		</tr>
		</table>

</body>
</html>