<html xmlns:th="http://www.thymeleaf.org"
>

<head>
<title>login</title>
<!-- <link href="../static/bootstrap.min.css" rel="stylesheet" media="all" th:href="@{/bootstrap.min.css}">
<link href="../static/Mystyle.css" rel="stylesheet" media="all" th:href="@{/Mystyle.css}">
<link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'> -->
<link rel="stylesheet" href="../static/css/style.css" media="screen" type="text/css" th:href="@{/css/style.css}"/>

 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>


  <div class="container h-80">
<div class="row align-items-center h-100">
    <div class="col-3 mx-auto">
        <div class="text-center">
            
            <p id="profile-name" class="profile-name-card"></p>
    <!--  <div th:if="${param.error}" class="text-danger">
     usrname ou mot de passe est incorecte
     </div>
      <div th:if="${param.logout}" class="text-primary">
    vous avez ete deconnecter
     </div> -->

   <form th:action="@{login}" method="post" class="form-signin">
   <div class="form-group">
   
     <input type="text"  name="nom"  class="form-control" placeholder="login"/>
     </div>
     <div class="form-group">
   
     <input type="password"  name="password" class="form-control" placeholder="password"/>
     </div>
    
    <input type="submit"  class="btn btn-lg btn-primary btn-block btn-signin" value="login"/>
   </form>
    </div>
    <div  >
    <a style="color: #dedede" th:href="@{register}">Register</a>
  </div>
    </div>
</div>
</div>
</body>

</html>
<!-- end document-->