

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}"></link>
 <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>

</head>

<header>
<div class="navbar navbar-default">
<div class="container">
   <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{viewArticlelist}">Articles</a>
                </div>

     <ul class="nav navbar-nav">
     <li><a th:href="@{Addarticle}">Ajouter Article</a></li>
      <li><a th:href="@{chercherArticle}">Chercher Article</a></li>

     </ul>
</div>
</div>

</header>
<body>
<div class="container">
        
              
<table class="table table-bordered" >
  <thead>
 <tr class="bg-info">
 <th>ID article</th><th>note du chair</th> <th>Designation</th><th>Statut</th> <th>Titre</th><th>Date du creation</th><th>Payee</th><th>Action Payee</th><th>Action</th>
 </tr> </thead>
 


 <tr th:each="article :${list}"  >
 <td th:text="${article.idArticle}">&nbsp;&nbsp;</td >
 <td th:text="${article.notechair}">note chair</td> <td th:text="${article.resume}">resume</td><td th:text="${article.statut}">statut</td> <td th:text="${article.titre}">titre</td><td th:text="${article.datecreation}">date creation</td> <td th:text="${article.paye}"></td><td><a  class="btn btn-info btn-block">Payer</a></td>

<td><a class='btn btn-info btn-block'  style="background-color:#DC143C"  th:href="@{deletearticle(idArticle=${article.idArticle})}"  onclick="return confirm('Are you sure you want to delete this item?');">Supprimer</a>
<a  class="btn btn-info btn-block" th:href="@{editArticle(idArticle=${article.idArticle})}">modifier</a></td>

 </tr>
</table>
</div>
 
 
 
</body>
</html>